@charset "UTF-8";
:root {
  --font-size-mobile-tablet: 12px;
  --line-height-mobile-tablet: 1.33:
  --font-size-desktop: 20px;
  --line-height-desktop: 1.2;
  --main-black-color: #000000;
  --main-accent-color: #FF6B08;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: Roboto, sans-serif;
}

.body-wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
}

.container {
  max-width: 480px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

.spinner-border {
  margin-left: auto;
  margin-right: auto;
  color: #8a0d0d;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
li,
p {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
}

a {
  list-style: none;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

tr,
td {
  margin: 0;
  padding: 0;
}

.header {
  padding-top: 40px;
  padding-bottom: 92px;
  height: 230px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(to bottom, rgba(46, 46, 46, 0), rgba(255, 255, 255, 0.5)), url(/src/images/main/light/mobile-header-bg-1x-light.jpg);
}

@media screen and (min-device-pixel-ratio: 2), screen and (-moz-min-device-pixel-ratio: 2), screen and (-o-min-device-pixel-ratio: 2 / 1), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .header {
    background-image: linear-gradient(to bottom, rgba(46, 46, 46, 0), rgba(255, 255, 255, 0.5)), url(/src/images/main/light/mobile-header-bg-2x-light.jpg);
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 40px;
    padding-bottom: 81px;
    height: 216px;
    background-image: linear-gradient(to bottom, rgba(46, 46, 46, 0), rgba(255, 255, 255, 0.5)), url(/src/images/main/light/tablet-header-bg-1x-light.jpg);
    opacity: 1;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-moz-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .header {
    background-image: linear-gradient(to bottom, rgba(46, 46, 46, 0), rgba(255, 255, 255, 0.5)), url(/src/images/main/light/tablet-header-bg-2x-light.jpg);
    opacity: 1;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    background-color: black;
    background-image: linear-gradient(to bottom, rgba(46, 46, 46, 0), rgba(255, 255, 255, 0.5)), url(/src/images/main/light/desktop-header-bg-1x-light.jpg);
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-moz-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .header {
    background-image: linear-gradient(to bottom, rgba(46, 46, 46, 0), rgba(255, 255, 255, 0.5)), url(/src/images/main/light/desktop-header-bg-2x-light.jpg);
    opacity: 1;
  }
}

.header__container {
  min-width: 280px;
}

@media screen and (min-width: 768px) {
  .header__container {
    min-width: 704px;
    align-items: baseline;
    justify-content: space-around;
    text-align: center;
  }
}

.header__container-inner {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .header__container-inner {
    align-items: baseline;
  }
}

.logo__icon {
  display: inline-block;
  align-items: baseline;
  fill: currentColor;
}

.header--animals {
  animation: logo 1s ease 0.5s backwards;
}

@keyframes logo {
  0% {
    opacity: 0;
    letter-spacing: -0.6em;
  }
  100% {
    opacity: 1;
    letter-spacing: 0.03em;
  }
}

@media screen and (max-width: 767.98px) {
  .logo__title {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .logo__title {
    text-decoration: none;
    display: inline-block;
    margin-left: 8px;
    color: #ffffff;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.7;
    height: 35px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .logo__title:hover, .logo__title:focus {
    color: #ff6b01;
  }
}

@media screen and (min-width: 1280px) {
  .logo__title {
    margin-left: 10px;
  }
}

.nav {
  margin-left: auto;
}

.nav__list {
  display: flex;
}

@media screen and (min-width: 768px) {
  .nav__list {
    justify-content: flex-end;
    align-items: center;
  }
}

.nav__item:not(:first-child) {
  margin-left: 40px;
}

.nav__item:last-child {
  margin-right: 0px;
}

.nav__link {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
  list-style: none;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 3px;
  padding-bottom: 3px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover, .nav__link:focus {
  color: #ff6b01;
}

/* Лінія активної сторінки */
.nav__link--current {
  position: relative;
  display: block;
}

.nav__link--current::after {
  position: absolute;
  border-radius: 2px;
  display: block;
  content: '';
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 3px;
  background-color: #ff001b;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 280px;
  margin-top: 50px;
}

@media screen and (min-width: 768px) {
  .form {
    max-width: 704px;
    margin-top: 30px;
    padding: 4px 10px;
  }
}

.form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  min-width: 280px;
  background-color: rgba(0, 0, 0, 0);
  align-items: center;
}

@media screen and (max-width: 767.98px) {
  .form__field {
    min-width: 240px;
  }
}

@media screen and (min-width: 480px) {
  .form__field {
    min-width: 280px;
  }
}

.form__input {
  width: 100%;
  min-height: 20px;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.14;
  outline: transparent;
  border: none;
  color: #ffffff;
  border-bottom: 0.5px solid #ffffff;
  background-color: rgba(0, 0, 0, 0);
  text-align: left;
  padding: 5px 3px;
}

@media screen and (min-width: 768px) {
  .form__input {
    width: 336px;
    display: block;
  }
}

@media screen and (min-width: 1280px) {
  .form__input {
    width: 394px;
    display: block;
    align-items: center;
  }
}

.form__input:focus,
.form__input:hover,
.form__input:active {
  background-color: rgba(0, 0, 0, 0);
  outline: transparent;
}

.form__input::placeholder {
  color: #ffffff5c;
}

.form-button {
  border: none;
  position: absolute;
  right: 10px;
  top: -5px;
  padding: 10px;
  background-color: transparent;
}

@media screen and (min-width: 480px) {
  .form-button {
    right: -10;
  }
}

@media screen and (min-width: 768px) {
  .form-button {
    right: 173px;
    top: 0;
  }
}

@media screen and (min-width: 1280px) {
  .form-button {
    right: 143px;
  }
}

.form__icon {
  fill: currentColor;
  text-align: center;
  transition: 0.3s;
}

.form__icon:hover {
  transform: scale(1.35);
  fill: red;
}

@media screen and (max-width: 767.98px) {
  .form-text {
    position: absolute;
    top: 25px;
    left: 20px;
    font-size: 14px;
    line-height: 1.14;
    color: #ff001b;
    margin-top: 16px;
    width: 200px;
  }
}

@media screen and (min-width: 480px) {
  .form-text {
    position: absolute;
    top: 25px;
    left: 0px;
    font-size: 14px;
    line-height: 1.14;
    color: #ff001b;
    margin-top: 16px;
    width: 280px;
  }
}

@media screen and (min-width: 768px) {
  .form-text {
    left: 172px;
    width: 393px;
    margin-top: 20px;
    text-align: center;
  }
}

@media screen and (min-width: 1280px) {
  .form-text {
    top: 25px;
    left: 144px;
  }
}

.iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
}

@media screen and (max-width: 767.98px) {
  .gallery {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: -16px;
    margin-bottom: -32px;
  }
}

.gallery-contaienr {
  padding-top: 20px;
  padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .gallery-contaienr {
    padding-bottom: 60px;
  }
}

.gallery__item {
  transition: 0.3s;
}

@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .gallery__item {
    width: calc((100% / 2) - 16px);
  }
}

@media screen and (min-width: 1280px) {
  .gallery__item {
    margin-right: 16px;
    margin-bottom: 32px;
    width: 395px;
  }
  .gallery__item:nth-child(3n + 3) {
    margin-right: 0;
  }
}

.gallery__item:hover {
  transform: scale(1.02);
}

.gallery__item:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 5px;
}

.gallery__img {
  border-radius: 5px;
}

@media screen and (min-width: 1280px) {
  .no-cover {
    height: 594px;
  }
}

.gallery-text {
  margin-top: 8px;
  font-size: 12px;
  font-weight: 500;
  line-height: var(--line-height-mobile-tablet);
}

@media screen and (min-width: 1280px) {
  .gallery-text {
    margin-top: 12px;
    font-size: var(--font-size-desktop);
    line-height: 1.2;
    transition: 0.3s;
  }
}

.gallery-text__title {
  text-transform: uppercase;
  color: var(--main-black-color);
}

.gallery-text__info {
  display: flex;
  align-items: center;
}

.gallery-text__genre {
  color: var(--main-accent-color);
}

.gallery-text__rating {
  margin-left: 9px;
  display: inline-block;
  background-color: var(--main-accent-color);
  border-radius: 5px;
  font-size: 12px;
  line-height: 1.16;
  padding: 1px 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.backdrop {
  position: fixed;
  z-index: 300;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: visible;
  transition: 0.3s;
  backdrop-filter: blur(5px);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2));
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@media screen and (max-width: 767.98px) {
  .modal-group {
    position: absolute;
    padding: 20px;
    padding-top: 48px;
    top: 50%;
    left: 50%;
    width: 100%;
    background-color: white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(0.75);
    transition: 0.3s;
  }
}

@media screen and (min-width: 768px) {
  .modal-group {
    position: absolute;
    padding: 40px 72px 40px 36px;
    top: 50%;
    left: 50%;
    display: flex;
    width: 704px;
    background: linear-gradient(to bottom, white, rgba(255, 255, 255, 0.9));
    box-shadow: 5px 8px 26px 4px rgba(0, 0, 0, 0.52);
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(1);
    transition: 0.3s;
  }
}

@media screen and (min-width: 1280px) {
  .modal-group {
    width: 806px;
    padding: 40px 12px 40px 12px;
  }
}

.backdrop.is-hidden .modal-group {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal-group__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modal-group__title {
  margin-top: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (max-width: 479.92px) {
  .modal-group__title {
    text-align: start;
  }
}

@media screen and (min-width: 768px) {
  .modal-group__title {
    margin-top: 0;
    text-align: start;
  }
}

@media screen and (min-width: 1280px) {
  .modal-group__title {
    font-size: 30px;
  }
}

.modal-group__img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .modal-group__img-wrapper {
    width: 264px;
    height: auto;
    flex-shrink: 0;
  }
}

@media screen and (min-width: 1280px) {
  .modal-group__img-wrapper {
    width: 375px;
  }
}

.modal-group__img {
  width: 100%;
  max-width: 400px;
  border-radius: 5px;
}

@media screen and (min-width: 1280px) {
  .modal-group__img {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .modal-group__wrapper {
    margin-left: 68px;
  }
}

@media screen and (min-width: 1280px) {
  .modal-group__wrapper {
    margin-left: 16px;
  }
}

.table {
  margin-top: 20px;
}

@media screen and (min-width: 320px) {
  .table {
    display: block;
  }
}

@media screen and (min-width: 479.92px) {
  .table {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .table {
    justify-content: start;
  }
}

tbody {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.table__title {
  color: #8c8c8c;
  font-size: var(--font-size-mobile-tablet);
  line-height: var(--line-height-mobile-tablet);
  font-weight: 500;
  width: 100px;
}

.table__text {
  color: #000000;
  font-size: var(--font-size-mobile-tablet);
  line-height: var(--line-height-mobile-tablet);
  font-weight: 500;
}

.table-text-orange {
  padding: 1px 6px;
  margin-left: 0;
  display: inline-block;
}

.table-text-grey {
  padding: 1px 6px;
  margin-left: 0;
  display: inline-block;
  background-color: #f7f7f7;
  border-radius: 5px;
}

.modal-group__about-title {
  margin-bottom: 8px;
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #000000;
}

.modal-group__about-text {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: #000000;
}

.modal-group__btns {
  display: flex;
  gap: 20px;
}

.watched-btn {
  background-color: #e6e6e6;
  color: #000000;
  padding: 6px 27px;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  transition: 0.25s;
}

.watched-btn:hover {
  background-color: var(--main-accent-color);
  color: #ffffff;
  border: transparent;
}

@media screen and (min-width: 768px) {
  .watched-btn {
    padding: 14px 9px;
  }
}

.queue-btn {
  background-color: #e6e6e6;
  padding: 6px 27px;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  transition: 0.25s;
}

.queue-btn:hover {
  background-color: var(--main-accent-color);
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .queue-btn {
    padding: 14px 9px;
  }
}

.trailer-btn {
  background-color: #e6e6e6;
  color: #000000;
  padding: 6px 27px;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  transition: 0.25s;
}

.trailer-btn:hover {
  background-color: var(--main-accent-color);
  color: #ffffff;
  border: transparent;
}

@media screen and (min-width: 768px) {
  .trailer-btn {
    padding: 14px 9px;
  }
}

.modal-group__close-icon {
  fill: black;
  transition: 0.3s;
  width: 23px;
  height: 23px;
  transform-origin: center;
}

.modal-group__close-icon:hover {
  transform: rotateZ(90deg);
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 5px;
  padding-bottom: 60px;
}

.pagination__list {
  display: flex;
  gap: 10px;
}

.is-hidden {
  opacity: 0;
}

.pagination__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  transition: 0.3s;
}

.pagination__item:hover {
  background-color: var(--main-accent-color);
  color: #fff;
}

.pagination__item-hidden {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: default;
}

@media screen and (max-width: 767.98px) {
  .pagination__item-hidden {
    display: none;
  }
}

.pagination__currentPage {
  background-color: var(--main-accent-color);
  color: white;
}

.pagination__btn {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: transparent;
  transition: 0.3s;
}

.pagination__btn:hover {
  background-color: var(--main-accent-color);
}

@media screen and (max-width: 767.98px) {
  .pagination-edge {
    display: none;
  }
}

.pagination__btn-prev {
  background-image: url("/src/images/pagination/arrow-left.svg");
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
}

.pagination__btn-prev:hover {
  filter: invert(1);
}

.pagination__btn-next {
  background-image: url("/src/images/pagination/arrow-right.svg");
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
}

.pagination__btn-Ldisabled {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-image: url("/src/images/pagination/arrow-left-grey.svg");
  cursor: default;
}

.pagination__btn-Rdisabled {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-image: url("/src/images/pagination/arrow-right-grey.svg");
  cursor: default;
}

.header-library {
  padding-top: 44px;
  padding-bottom: 62px;
  height: 230px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/src/images/library/mobile-header-bg-library-1x.jpg);
}

@media screen and (min-device-pixel-ratio: 2), screen and (-moz-min-device-pixel-ratio: 2), screen and (-o-min-device-pixel-ratio: 2 / 1), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .header-library {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/src/images/library/mobile-header-bg-library-2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .header-library {
    padding-top: 50px;
    padding-bottom: 60px;
    height: 216px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/src/images/library/tablet-header-bg-library-1x.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-moz-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .header-library {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/src/images/library/tablet-header-bg-library-2x.jpg);
  }
}

@media screen and (min-width: 1280px) {
  .header-library {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/src/images/library/desktop-header-bg-library-1x.jpg);
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-moz-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .header-library {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/src/images/library/desktop-header-bg-library-2x.jpg);
  }
}

@media screen and (max-width: 767.98px) {
  .header-library__container {
    max-width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .header-library__container {
    text-align: center;
  }
}

.header-library__inner-wrapper {
  display: flex;
  align-items: center;
}

.nav-library {
  margin-left: auto;
}

.logo-library__icon {
  display: inline-block;
  fill: currentColor;
  align-items: baseline;
}

@media screen and (min-width: 1280px) {
  .logo__library {
    margin-right: auto;
  }
}

@media screen and (max-width: 767.98px) {
  .logo-library__title {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .logo-library__title {
    display: inline-block;
    margin-left: 10px;
    color: #ffffff;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.16px;
    margin-right: 385px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .logo-library__title:hover, .logo-library__title:focus {
    color: #ff6b01;
  }
}

.nav-library__list {
  display: flex;
}

@media screen and (min-width: 768px) {
  .nav-library__list {
    justify-content: flex-end;
    align-items: center;
  }
}

.nav-library__item:not(:first-child) {
  margin-left: 39px;
}

.nav-library__item:last-child {
  margin-right: 0px;
}

.nav-library__link {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  list-style: none;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 3px;
  padding-bottom: 3px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-library__link:hover, .nav-library__link:focus {
  color: #ff6b01;
}

/* Лінія активної сторінки */
.nav-library__link--current {
  position: relative;
  display: block;
}

.nav-library__link--current::after {
  position: absolute;
  border-radius: 2px;
  display: block;
  content: '';
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 3px;
  background-color: #ff001b;
}

.library {
  display: flex;
  justify-content: center;
  margin-top: 65px;
}

@media screen and (min-width: 768px) {
  .library {
    margin-top: 52px;
  }
}

.library__button {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.56);
  border: 1px solid #ffffff;
  border-radius: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  max-width: 130px;
  padding-top: 14px;
  padding-left: 36px;
  padding-bottom: 12px;
  padding-right: 36px;
  transition: 0.3s;
}

@media screen and (min-width: 768px) {
  .library__button {
    max-width: 152px;
    padding: 13px 46px;
  }
}

@media screen and (min-width: 1280px) {
  .library__button {
    max-width: 148px;
    padding: 12px 42px;
  }
}

.library__button:hover,
.library__button:focus {
  background-color: #ff6b01;
  filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
  border-color: #ff6b01;
}

.library__button:last-child {
  margin-left: 20px;
}

@media screen and (min-width: 768px) {
  .library__button:last-child {
    margin-left: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .library__button:last-child {
    margin-left: 16px;
  }
}

.library__button.active {
  background-color: #ff6b01;
  filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
  border: transparent;
}

.footer {
  padding-top: 29px;
  padding-bottom: 30px;
  background-color: #f7f7f7;
}

.footer__cotainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .footer__cotainer {
    flex-direction: row;
    justify-content: center;
  }
}

.title-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #545454;
}

.footer__first {
  text-align: center;
}

.title-first {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .title-first {
    margin-bottom: 0;
  }
}

.footer__second {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-left: 3px;
}

@media screen and (min-width: 768px) {
  .footer__second {
    margin-right: 0;
  }
}

.title-footer__link {
  text-decoration: underline;
}

.button-open {
  cursor: pointer;
}

.modal-team__title {
  color: var(--main-accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  font-size: 30px;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
}

.team__item {
  position: relative;
  overflow: hidden;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767.98px) {
  .team__item {
    width: 100%;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767.98px) {
  .team__item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .team__item {
    min-width: 232px;
  }
}

@media screen and (min-width: 1280px) {
  .team__item {
    min-width: 232px;
  }
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 101%;
  width: 100%;
  font-size: 16px;
  line-height: 1.56;
  background-color: var(--main-accent-color);
  padding: 10px 10px;
}

.team__members:hover .socials,
.team__members:focus .socials {
  transform: translateY(0);
}

.team__members {
  padding: 10px;
}

.team__name {
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.1;
  text-align: center;
  margin-bottom: 10px;
}

.team__position {
  color: var(--main-accent-color);
  font-weight: 400;
  font-size: 15px;
  line-height: 1.1;
  text-align: center;
  margin-bottom: 6px;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:focus, .socials__link:hover {
  background-color: black;
}

.socials__icon {
  fill: black;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:hover .socials__icon,
.socials__link:focus .socials__icon {
  fill: var(--main-accent-color);
}

.backdrop-team {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.197);
  display: flex;
  align-items: center;
  justify-content: center;
}

.backdrop-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-team__window {
  max-width: 950px;
  position: relative;
  z-index: 2;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
  background-color: #fff;
  padding: 20px;
}

@media screen and (max-width: 767.98px) {
  .modal-team__window {
    background-color: #1c1c1c;
  }
}

@media screen and (min-width: 768px) {
  .modal-team__window {
    max-width: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2)), url(/src/images/main/tablet-header-bg-1x.jpg);
  }
}

@media screen and (min-width: 1280px) {
  .modal-team__window {
    max-width: 950px;
  }
}

.team-modal-btn {
  fill: var(--main-accent-color);
}

html.dark .team-modal-btn {
  fill: #000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.spinner {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

/*  элемент спиннера - делаем круг из квадрата 40x40
            с помощью свойства border-radius, левая граница круга окрашена
            в другой цвет. далее запускаем бесконечную анимацию
        */
.spinner__animation {
  display: inline-block;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border-top: 3px solid rgba(0, 0, 0, 0.1);
  border-right: 3px solid rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  border-left: 3px solid #9e0c0c;
  animation: loading-spinner 0.5s infinite linear;
}

/* это текст для спиннера, например - "Загрузка..." */
.spinner__info {
  display: block;
  padding-top: 5px;
  color: #818a91;
  font-size: 0.9rem;
}

/* сама анимация вращения */
@keyframes loading-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/*  элемент спиннера - делаем круг из квадрата 40x40
            с помощью свойства border-radius, левая граница круга окрашена
            в другой цвет. далее запускаем бесконечную анимацию
        */
.spinner__animation {
  display: inline-block;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border-top: 3px solid rgba(0, 0, 0, 0.1);
  border-right: 3px solid rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  border-left: 3px solid #9e0c0c;
  animation: loading-spinner 0.5s infinite linear;
}

/* это текст для спиннера, например - "Загрузка..." */
.spinner__info {
  display: block;
  padding-top: 5px;
  color: #818a91;
  font-size: 0.9rem;
}

/* сама анимация вращения */
@keyframes loading-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.theme-change {
  margin-left: auto;
  display: block;
  text-align: end;
  margin-top: 20px;
}

.page-reset {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.page-reset.active {
  opacity: 0;
  visibility: hidden;
}

.page-theme {
  position: relative;
  background-color: transparent;
  width: 25px;
  height: 25px;
  background: url(../src/images/sun.svg) 0 0/100% no-repeat;
  transform: rotate(120deg);
  filter: invert(0);
  transition: 0.35s;
}

.theme-change-lib {
  filter: invert(1);
}

html.dark .theme-change-lib {
  filter: invert(0);
}

.page-theme:hover {
  width: 32px;
  height: 32px;
}

.sun-svg {
  fill: #fff;
}

html.dark body {
  color: #fff;
  background-color: #0c1115;
  transition: 0.3s;
}

html.dark .gallery-text__title {
  color: #fff;
  background-color: transparent;
  transition: 0.3s;
}

html.dark .modal-group {
  color: #fff;
  background: #1e2227e0;
  transition: 0.3s;
}

html.dark .modal-group__about-title {
  color: #fff;
}

html.dark .modal-group__about-text {
  color: #fff;
}

html.dark .table__text {
  color: #bebebe;
}

html.dark .table-text-grey {
  color: #2b2b2b;
}

html.dark .modal-group__close-icon {
  filter: invert(1);
}

html.light body {
  background-color: #fff;
  color: #333;
  transition: 0.3s;
}

html.dark .page-theme {
  background: url(../src/images/moon2.svg) 0 0/100% no-repeat;
  width: 20px;
  height: 20px;
  fill: #fff;
  transform: rotate(0deg);
  filter: invert(1);
}

html.dark .page-theme:hover {
  width: 32px;
  height: 32px;
  filter: invert(1);
  transform: rotate(30deg);
}

/* 


    PAGINATION

*/
html.dark .pagination__btn-next {
  filter: invert(1);
}

html.dark .pagination__btn-next:hover {
  filter: invert(0);
}

html.dark .pagination__btn-prev {
  filter: invert(1);
}

html.dark .footer {
  background-color: #242629;
}

html.dark .title-first {
  color: #fff;
}

html.dark .title-footer {
  color: #fff;
}

html.dark .watched-btn,
html.dark .queue-btn,
html.dark .trailer-btn {
  background: #4f545940;
  color: #fff;
}

html.dark .watched-btn:hover,
html.dark .queue-btn:hover,
html.dark .trailer-btn:hover {
  background: var(--main-accent-color);
}

.inactive:disabled {
  background-color: #e6e6e6;
  color: #b6b6b6;
  cursor: default;
}

.inactive:disabled:hover {
  background-color: #e6e6e6;
  color: #b6b6b6;
}

html.dark .inactive:disabled {
  background-color: #4f545940;
  color: #818181;
  cursor: default;
}

html.dark .inactive:disabled:hover {
  background-color: #4f545940;
  color: #818181;
}

.back-to-top {
  position: fixed;
  right: 2rem;
  bottom: 20px;
  border-radius: 5px;
  background: #f56900;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  opacity: 100%;
  transition: opacity 0.5s, transform 0.5s;
  transform: scale(0.9);
}

.back-to-top:hover {
  opacity: 40%;
  transform: scale(1);
}

.hidden {
  opacity: 0%;
}

.back-to-top-icon {
  width: 25px;
  height: 20px;
  color: #ffffff;
  transition: 0.3s;
}

.back-to-top:hover .back-to-top-icon {
  color: #1b1b1b;
}

.no-movies {
  color: #666a71;
}

@media screen and (max-width: 767.98px) {
  .no-movies {
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    font-size: 18px;
    width: 100%;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .no-movies {
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 250px;
  }
}

.theme-change-lib {
  margin-top: 0;
}

@media screen and (max-width: 767.98px) {
  .theme-change-lib {
    display: block;
    margin-left: auto;
    margin-top: 10px;
  }
}

html.dark .header {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), url(/src/images/main/mobile-header-bg-1x.jpg);
}

@media screen and (min-device-pixel-ratio: 2), screen and (-moz-min-device-pixel-ratio: 2), screen and (-o-min-device-pixel-ratio: 2 / 1), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  html.dark .header {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), url(/src/images/main/mobile-header-bg-2x.jpg);
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  html.dark .header {
    padding-top: 40px;
    padding-bottom: 81px;
    height: 216px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), url(/src/images/main/tablet-header-bg-1x.jpg);
    opacity: 1;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-moz-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  html.dark .header {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), url(/src/images/main/tablet-header-bg-2x.jpg);
    opacity: 1;
  }
}

@media screen and (min-width: 1280px) {
  html.dark .header {
    background-color: black;
    background-image: linear-gradient(to bottom, rgba(46, 46, 46, 0.2), rgba(0, 0, 0, 0)), url(/src/images/main/desktop-header-bg-1x-1.jpg);
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-moz-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  html.dark .header {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), url(/src/images/main/desktop-header-bg-2x.jpg);
    opacity: 1;
  }
}

html.light .nav__link {
  color: #000;
}

html.light .nav__link:hover {
  color: var(--main-accent-color);
}

html.light .logo__title {
  color: #000;
}

html.light .logo__title:hover {
  color: var(--main-accent-color);
}

html.light .logo__icon {
  filter: invert(1);
}

html.light .form__field {
  filter: invert(1);
}

html.dark .header-library {
  background-image: linear-gradient(to right, black, rgba(0, 0, 0, 0.8)), url(/src/images/library/mobile-header-bg-library-1x.jpg);
}

@media screen and (min-device-pixel-ratio: 2), screen and (-moz-min-device-pixel-ratio: 2), screen and (-o-min-device-pixel-ratio: 2 / 1), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  html.dark .header-library {
    background-image: linear-gradient(to right, black, rgba(0, 0, 0, 0.8)), url(/src/images/library/mobile-header-bg-library-2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  html.dark .header-library {
    padding-top: 50px;
    padding-bottom: 60px;
    height: 216px;
    background-image: linear-gradient(to right, black, rgba(0, 0, 0, 0.8)), url(/src/images/library/tablet-header-bg-library-1x.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-moz-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  html.dark .header-library {
    background-image: linear-gradient(to right, black, rgba(0, 0, 0, 0.8)), url(/src/images/library/tablet-header-bg-library-2x.jpg);
  }
}

@media screen and (min-width: 1280px) {
  html.dark .header-library {
    background-image: linear-gradient(to right, black, rgba(0, 0, 0, 0.8)), url(/src/images/library/desktop-header-bg-library-1x.jpg);
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-moz-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  html.dark .header-library {
    background-image: linear-gradient(to right, black, rgba(0, 0, 0, 0.8)), url(/src/images/library/desktop-header-bg-library-2x.jpg);
  }
}
/*# sourceMappingURL=main.css.map */