@charset "UTF-8";
:root {
  --font-size-mobile-tablet: 12px;
  --line-height-mobile-tablet: 1.33:
  --font-size-desktop: 20px;
  --line-height-desktop: 1.2;
  --main-black-color: #000000;
  --main-accent-color: #FF6B08;
}

body {
  font-family: Roboto, sans-serif;
}

.container {
  max-width: 480px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
}

a {
  text-decoration: none;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

.header {
  padding-top: 40px;
  padding-bottom: 92px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/src/images/main/mobile-header-bg-1x.jpg);
}

@media screen and (min-device-pixel-ratio: 2), screen and (-moz-min-device-pixel-ratio: 2), screen and (-o-min-device-pixel-ratio: 2 / 1), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .header {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/src/images/main/mobile-header-bg-2x.jpg);
  }
}

.header__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 280px;
}

.logo__icon {
  display: inline-block;
  fill: currentColor;
  align-items: baseline;
}

.logo__title {
  display: none;
}

@media screen and (min-width: 768px) {
  .logo__title {
    margin-left: 8px;
    color: #ffffff;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
  }
}

.nav__list {
  display: flex;
}

.nav__item:not(:first-child) {
  margin-left: 40px;
}

.nav__item:last-child {
  margin-right: 0px;
}

.nav__link {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  list-style: none;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
}

/* Лінія активної сторінки */
.nav__link--current {
  position: relative;
  display: block;
}

.nav__link--current::after {
  position: absolute;
  border-radius: 2px;
  display: block;
  content: '';
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 3px;
  background-color: #ff001b;
}

.form {
  max-width: 280px;
  margin-top: 60px;
}

.form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: left;
  min-width: 280px;
  margin-bottom: 4px;
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
}

.form__input {
  width: 100%;
  min-height: 20px;
  cursor: pointer;
  font-size: 14px;
  line-height: 16px;
  outline: transparent;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
  border-bottom: 0.5px solid #ffffff;
}

.form__input::placeholder {
  color: #ffffff;
}

.form-button {
  border: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}

.form__icon {
  position: absolute;
  fill: currentColor;
  text-align: center;
  right: 0px;
}

@media screen and (max-width: 767.98px) {
  .gallery {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: -16px;
    margin-bottom: -32px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .gallery__item {
    width: calc((100% / 2) - 16px);
  }
}

@media screen and (min-width: 1280px) {
  .gallery__item {
    margin-right: 16px;
    margin-bottom: 32px;
    width: 395px;
  }
  .gallery__item:nth-child(3n + 3) {
    margin-right: 0;
  }
}

.gallery__img {
  border-radius: 5px;
}

.gallery-text {
  margin-top: 8px;
  font-size: 12px;
  font-weight: 500;
  line-height: var(--line-height-mobile-tablet);
}

@media screen and (min-width: 1280px) {
  .gallery-text {
    margin-top: 12px;
    font-size: var(--font-size-desktop);
    line-height: 1.2;
  }
}

.gallery-text__title {
  text-transform: uppercase;
  color: var(--main-black-color);
}

.gallery-text__info {
  display: flex;
  align-items: center;
}

.gallery-text__genre {
  color: var(--main-accent-color);
}

.gallery-text__rating {
  margin-left: 9px;
  display: inline-block;
  background-color: var(--main-accent-color);
  border-radius: 5px;
  font-size: 12px;
  line-height: 1.16;
  padding: 1px 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*# sourceMappingURL=main.css.map */