.theme-change {
  position: absolute;
  right: 0;
  top: 160px;
}

.page-reset {
  opacity: 0;
  visibility: hidden;
}

.page-reset.active {
  opacity: 0;
  visibility: hidden;
}
.page-theme {
  background-color: transparent;
  //   border-radius: 50%;
  width: 28px;
  height: 28px;
  background: url(../src/images/moon.svg) 0 0 / 100% no-repeat;

  filter: invert(1);
  transition: 0.3s;
}

.sun-svg {
  fill: #fff;
}

html.dark body {
  color: #fff;
  background-color: #1e2227;
  transition: 0.3s;
}

html.dark .gallery-text__title {
  color: #fff;
  background-color: transparent;
  transition: 0.3s;
}

html.dark .modal-group {
  color: #fff;
  background: #1e2227e0;
  transition: 0.3s;
}

html.dark .modal-group__about-title {
  color: #fff;
}

html.dark .modal-group__about-text {
  color: #fff;
}

html.dark .table__text {
  color: rgb(190, 190, 190);
}

html.dark .table-text-grey {
  color: rgb(43, 43, 43);
}

html.dark .modal-group__close-icon {
  filter: invert(1);
}

html.light body {
  background-color: #fff;
  color: #333;
  transition: 0.3s;
}

html.dark .page-theme {
  background: url(../src/images/sun.svg) 0 0 / 100% no-repeat;
  width: 25px;
  height: 25px;
  fill: #fff;

  filter: invert(1);
}

.page-theme:hover {
  filter: invert(0.8);
}

/* 


    PAGINATION

*/

html.dark .pagination__btn-next {
  filter: invert(1);
}
html.dark .pagination__btn-prev {
  filter: invert(1);
}

html.dark .footer {
  background-color: #242629;
}

html.dark .title-first {
  color: #fff;
}
html.dark .title-footer {
  color: #fff;
}
