.theme-change {
  position: absolute;
  right: 0;
  top: 160px;
}

.page-reset {
  opacity: 0;
  visibility: hidden;
}

.page-reset.active {
  opacity: 0;
  visibility: hidden;
}
.page-theme {
  background-color: transparent;
  //   border-radius: 50%;
  width: 50px;
  height: 50px;
  //   background: url(../src/images/moon.svg) 0 0 / 100% no-repeat;
}

.sun-svg {
  fill: #fff;
}

.page-reset::before {
  content: 'x';
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  width: 10px;
  height: 10px;
  font-size: 7px;
  border-radius: 50%;
  line-height: 10px;
  color: #fff;
  text-align: center;
  background-color: #666;
}

html.dark body {
  color: #fff;
  background-color: #333;
}

html.light body {
  background-color: #fff;
  color: #333;
}

html.dark .page-theme {
  padding: 20px;
  background: url(../src/images/123.png) 0 0 / 100% no-repeat;
  width: 20px;
  height: 20px;
  fill: #fff;

  filter: invert(1);
}

html.light .page-reset {
  //   background: url(../src/images/123.png) 0 0 / 100% no-repeat;
  //   width: 30px;
  //   height: 30px;
  //   padding: 20px;
}
