<footer class="footer">
  <div class="container footer__cotainer">
    <div class="footer__first">
      <p class="title-footer title-first">© 2020 | All Rights Reserved |</p>
    </div>
    <div class="footer__second">
      <p class="title-footer">Developed with</p>
      <img
        class="heart-picture"
        width="14"
        height="13"
        src="./images/heart.svg"
        alt="heart"
      />
      <p class="title-footer">
        by
        <span class="title-footer__link"
          ><a class="button-open">GoIT Students</a></span
        >
      </p>
    </div>
  </div>

  <div class="backdrop-team backdrop-hidden">
    <div class="modal-team__window">
      <section class="section team">
        <div class="container team__container">
          <ul class="team__list">
            <li class="team__item">
              <img
                class="team__img"
                src="/src/images/teammates/mickey.webp"
                alt="фото Игоря"
                width="450"
                height="460"
                loading="lazy"
              />

              <div class="team__members">
                <h3 class="team__name">Іван Пікун</h3>
                <p class="team__position" lang="en">Frontend Developer</p>
                <ul class="socials">
                  <li class="socials__item">
                    <a
                      class="socials__link"
                      href="https://www.instagram.com/"
                      target="_blank"
                      rel="noopener noreferrer"
                      aria-label="ссылка на instagram"
                    >
                      <svg
                        class="socials__icon"
                        width="20"
                        height="20"
                        role="img"
                      >
                        <use href="./images/icons.svg#icon-instagram"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="socials__item">
                    <a
                      class="socials__link"
                      href="https://twitter.com/?lang=ru"
                      target="_blank"
                      rel="noopener noreferrer"
                      aria-label="ссылка на twitter"
                    >
                      <svg
                        class="socials__icon"
                        width="20"
                        height="20"
                        role="img"
                      >
                        <use href="./images/icons.svg#icon-twitter"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="socials__item">
                    <a
                      class="socials__link"
                      href="https://www.facebook.com/"
                      target="_blank"
                      rel="noopener noreferrer"
                      aria-label="ссылка на facebook"
                    >
                      <svg
                        class="socials__icon"
                        width="20"
                        height="20"
                        role="img"
                      >
                        <use href="./images/icons.svg#icon-facebook"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="socials__item">
                    <a
                      class="socials__link"
                      href="https://ru.linkedin.com/"
                      target="_blank"
                      rel="noopener noreferrer"
                      aria-label="ссылка на linkedin"
                    >
                      <svg
                        class="socials__icon"
                        width="20"
                        height="20"
                        role="img"
                      >
                        <use href="./images/icons.svg#icon-linkedin"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="team__item">
              <img
                class="team__img"
                src="/src/images/teammates/mickey.webp"
                alt="фото Игоря"
                width="450"
                height="460"
                loading="lazy"
              />

              <div class="team__members">
                <h3 class="team__name">Олександр Раскулов</h3>
                <p class="team__position" lang="en">Frontend Developer</p>
                <ul class="socials">
                  <li class="socials__item">
                    <a
                      class="socials__link"
                      href="https://www.instagram.com/"
                      target="_blank"
                      rel="noopener noreferrer"
                      aria-label="ссылка на instagram"
                    >
                      <svg
                        class="socials__icon"
                        width="20"
                        height="20"
                        role="img"
                      >
                        <use href="./images/icons.svg#icon-instagram"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="socials__item">
                    <a
                      class="socials__link"
                      href="https://twitter.com/?lang=ru"
                      target="_blank"
                      rel="noopener noreferrer"
                      aria-label="ссылка на twitter"
                    >
                      <svg
                        class="socials__icon"
                        width="20"
                        height="20"
                        role="img"
                      >
                        <use href="./images/icons.svg#icon-twitter"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="socials__item">
                    <a
                      class="socials__link"
                      href="https://www.facebook.com/"
                      target="_blank"
                      rel="noopener noreferrer"
                      aria-label="ссылка на facebook"
                    >
                      <svg
                        class="socials__icon"
                        width="20"
                        height="20"
                        role="img"
                      >
                        <use href="./images/icons.svg#icon-facebook"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="socials__item">
                    <a
                      class="socials__link"
                      href="https://ru.linkedin.com/"
                      target="_blank"
                      rel="noopener noreferrer"
                      aria-label="ссылка на linkedin"
                    >
                      <svg
                        class="socials__icon"
                        width="20"
                        height="20"
                        role="img"
                      >
                        <use href="./images/icons.svg#icon-linkedin"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="team__item">
              <img
                class="team__img"
                src="/src/images/teammates/mickey.webp"
                alt="фото Игоря"
                width="450"
                height="460"
                loading="lazy"
              />

              <div class="team__members">
                <h3 class="team__name">Наташа</h3>
                <p class="team__position" lang="en">Frontend Developer</p>
                <ul class="socials">
                  <li class="socials__item">
                    <a
                      class="socials__link"
                      href="https://www.instagram.com/"
                      target="_blank"
                      rel="noopener noreferrer"
                      aria-label="ссылка на instagram"
                    >
                      <svg
                        class="socials__icon"
                        width="20"
                        height="20"
                        role="img"
                      >
                        <use href="./images/icons.svg#icon-instagram"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="socials__item">
                    <a
                      class="socials__link"
                      href="https://twitter.com/?lang=ru"
                      target="_blank"
                      rel="noopener noreferrer"
                      aria-label="ссылка на twitter"
                    >
                      <svg
                        class="socials__icon"
                        width="20"
                        height="20"
                        role="img"
                      >
                        <use href="./images/icons.svg#icon-twitter"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="socials__item">
                    <a
                      class="socials__link"
                      href="https://www.facebook.com/"
                      target="_blank"
                      rel="noopener noreferrer"
                      aria-label="ссылка на facebook"
                    >
                      <svg
                        class="socials__icon"
                        width="20"
                        height="20"
                        role="img"
                      >
                        <use href="./images/icons.svg#icon-facebook"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="socials__item">
                    <a
                      class="socials__link"
                      href="https://ru.linkedin.com/"
                      target="_blank"
                      rel="noopener noreferrer"
                      aria-label="ссылка на linkedin"
                    >
                      <svg
                        class="socials__icon"
                        width="20"
                        height="20"
                        role="img"
                      >
                        <use href="./images/icons.svg#icon-linkedin"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="team__item">
              <img
                class="team__img"
                src="/src/images/teammates/mickey.webp"
                alt="фото Ольги"
                width="450"
                height="460"
                loading="lazy"
              />

              <div class="team__members">
                <h3 class="team__name">Майк</h3>
                <p class="team__position" lang="en">Frontend Developer</p>
                <ul class="socials">
                  <li class="socials__item">
                    <a
                      class="socials__link"
                      href="https://www.instagram.com/"
                      target="_blank"
                      rel="noopener noreferrer"
                      aria-label="ссылка на instagram"
                    >
                      <svg
                        class="socials__icon"
                        width="20"
                        height="20"
                        role="img"
                      >
                        <use href="./images/icons.svg#icon-instagram"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="socials__item">
                    <a
                      class="socials__link"
                      href="https://twitter.com/?lang=ru"
                      target="_blank"
                      rel="noopener noreferrer"
                      aria-label="ссылка на twitter"
                    >
                      <svg
                        class="socials__icon"
                        width="20"
                        height="20"
                        role="img"
                      >
                        <use href="./images/icons.svg#icon-twitter"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="socials__item">
                    <a
                      class="socials__link"
                      href="https://www.facebook.com/"
                      target="_blank"
                      rel="noopener noreferrer"
                      aria-label="ссылка на facebook"
                    >
                      <svg
                        class="socials__icon"
                        width="20"
                        height="20"
                        role="img"
                      >
                        <use href="./images/icons.svg#icon-facebook"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="socials__item">
                    <a
                      class="socials__link"
                      href="https://ru.linkedin.com/"
                      target="_blank"
                      rel="noopener noreferrer"
                      aria-label="ссылка на linkedin"
                    >
                      <svg
                        class="socials__icon"
                        width="20"
                        height="20"
                        role="img"
                      >
                        <use href="./images/icons.svg#icon-linkedin"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="team__item">
              <img
                class="team__img"
                src="/src/images/teammates/mickey.webp"
                alt="фото Коли"
                width="450"
                height="460"
                loading="lazy"
              />

              <div class="team__members">
                <h3 class="team__name">Олександр</h3>
                <p class="team__position" lang="en">Frontend Developer</p>
                <ul class="socials">
                  <li class="socials__item">
                    <a
                      class="socials__link"
                      href="https://www.instagram.com/"
                      target="_blank"
                      rel="noopener noreferrer"
                      aria-label="ссылка на instagram"
                    >
                      <svg
                        class="socials__icon"
                        width="20"
                        height="20"
                        role="img"
                      >
                        <use href="./images/icons.svg#icon-instagram"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="socials__item">
                    <a
                      class="socials__link"
                      href="https://twitter.com/?lang=ru"
                      target="_blank"
                      rel="noopener noreferrer"
                      aria-label="ссылка на twitter"
                    >
                      <svg
                        class="socials__icon"
                        width="20"
                        height="20"
                        role="img"
                      >
                        <use href="./images/icons.svg#icon-twitter"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="socials__item">
                    <a
                      class="socials__link"
                      href="https://www.facebook.com/"
                      target="_blank"
                      rel="noopener noreferrer"
                      aria-label="ссылка на facebook"
                    >
                      <svg
                        class="socials__icon"
                        width="20"
                        height="20"
                        role="img"
                      >
                        <use href="./images/icons.svg#icon-facebook"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="socials__item">
                    <a
                      class="socials__link"
                      href="https://ru.linkedin.com/"
                      target="_blank"
                      rel="noopener noreferrer"
                      aria-label="ссылка на linkedin"
                    >
                      <svg
                        class="socials__icon"
                        width="20"
                        height="20"
                        role="img"
                      >
                        <use href="./images/icons.svg#icon-linkedin"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="team__item">
              <img
                class="team__img"
                src="/src/images/teammates/mickey.webp"
                alt="фото Миши"
                width="450"
                height="460"
                loading="lazy"
              />

              <div class="team__members">
                <h3 class="team__name">Валентин Білоус</h3>
                <p class="team__position" lang="en">Frontend Developer</p>
                <ul class="socials">
                  <li class="socials__item">
                    <a
                      class="socials__link"
                      href="https://www.instagram.com/"
                      target="_blank"
                      rel="noopener noreferrer"
                      aria-label="ссылка на instagram"
                    >
                      <svg
                        class="socials__icon"
                        width="20"
                        height="20"
                        role="img"
                      >
                        <use href="./images/icons.svg#icon-instagram"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="socials__item">
                    <a
                      class="socials__link"
                      href="https://twitter.com/?lang=ru"
                      target="_blank"
                      rel="noopener noreferrer"
                      aria-label="ссылка на twitter"
                    >
                      <svg
                        class="socials__icon"
                        width="20"
                        height="20"
                        role="img"
                      >
                        <use href="./images/icons.svg#icon-twitter"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="socials__item">
                    <a
                      class="socials__link"
                      href="https://www.facebook.com/"
                      target="_blank"
                      rel="noopener noreferrer"
                      aria-label="ссылка на facebook"
                    >
                      <svg
                        class="socials__icon"
                        width="20"
                        height="20"
                        role="img"
                      >
                        <use href="./images/icons.svg#icon-facebook"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="socials__item">
                    <a
                      class="socials__link"
                      href="https://ru.linkedin.com/"
                      target="_blank"
                      rel="noopener noreferrer"
                      aria-label="ссылка на linkedin"
                    >
                      <svg
                        class="socials__icon"
                        width="20"
                        height="20"
                        role="img"
                      >
                        <use href="./images/icons.svg#icon-linkedin"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </section>
      <button class="modal-group__close-btn">
        <object class="modal-group__close-object">
          <svg class="modal-group__close-icon" width="28" height="28">
            <use href="/src/images/symbol-defs.svg#icon-close-modal"></use>
          </svg>
        </object>
      </button>
    </div>
    <div class="overlay-team"></div>
  </div>
</footer>
