<footer class="footer">
  <div class="container footer__cotainer">
    <div class="footer__first">
      <p class="title-footer title-first">© 2020 | All Rights Reserved |</p>
    </div>
    <div class="footer__second">
      <p class="title-footer">Developed with</p>
      <img
        class="heart-picture"
        width="14"
        height="13"
        src="./images/heart.svg"
        alt="heart"
      />
      <p class="title-footer">
        by <span class="underline">GoIT Students</span>
      </p>
    </div>
  </div>
</footer>
