<div class="container gallery-contaienr">
  <ul class="gallery">
    <!-- <li class="gallery__item">
      <a class="gallery__link" href="#" data-modal-open>
        <img
          class="gallery__img"
          src="https://resizing.flixster.com/yXi5lQ1W9__xz_IZOvflz1MD7Wg=/ems.ZW1zLXByZC1hc3NldHMvbW92aWVzLzFmOWVhNjA2LTAzZDMtNDQ2Yy1iN2FkLTc4YTgwODIxZDdjOS53ZWJw"
          alt=""
        />
        <div class="gallery-text">
          <p class="gallery-text__title">Once upon a time in Hollywood</p>
          <div class="gallery-text__info">
            <p class="gallery-text__genre">Comedy, Action | 2020</p>
            <span class="gallery-text__rating">10.0</span>
          </div>
        </div>
      </a>
    </li> -->
  </ul>
</div>
