<header class="header">
  <div class="container header__container">
    <div class="logo">
      <svg class="logo__icon" width="24" height="24">
        <use href="/src/images/icon.svg#icon-film"></use>
        <a class="logo__link" href="/src/index.html"></a>
      </svg>
      <a class="logo__title" href="/src/index.html">Filmoteka </a>
    </div>

    <nav class="nav">
      <ul class="nav__list list">
        <li class="nav__item">
          <a class="nav__link nav__link--current" href="./index.html">Home</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="./library.html">my library</a>
        </li>
      </ul>
    </nav>

    <form class="form">
      <label class="form__field">
        <input
          class="form__input"
          type="search"
          placeholder="Movie search"
          autocomplete="on"
          name="name"
          required
        />
        <button type="submit" class="form-button">
          <svg class="form__icon" width="16" height="16">
            <use href="/src/images/icon.svg#icon-search"></use>
          </svg>
        </button>
      </label>
    </form>
    <!-- <p class="form-text">Search result not successful. Enter the correct movie name and</p> -->
  </div>
</header>
