<header class="header">
    <div class="container header__container">
        
        <div class="logo">
        <svg class="logo__icon" width="24" height="24">
            <use href="/src/images/film.svg#icon-film"></use>
            <a class="logo__link" href="/src/index.html">
            </a>
          </svg>
        <a class="logo__title" href="/src/index.html">
            Filmoteka
          </a>
    </div>


      <nav class="nav">
        <ul class="nav__list list">
          <li class="nav__item">
            <a class="nav__link nav__link--current" href= "./index.html"
              >Home</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="./library.html">my library</a>
          </li>
        </ul>
      </nav>
      <div class="form">
        <label class="form_field">
          <input
            class="form_input form_input--current"
            type="text"
            placeholder="Movie search"
            name="name"
            required
          />
          <svg class="form_icon" width="16" height="16">
            <use href="/src/images/search.svg#icon-search"></use>
          </svg>
        </label>
      </div>
    </div>
  </header>