<header class="header-library">
  <div class="container header-library__container">
    <div class="header-library__inner-wrapper">
      <div class="logo-library">
        <a class="logo-librar__link" href="./index.html">
          <svg
            class="logo-library__icon header--animals"
            width="24"
            height="24"
          >
            <use href="/src/images/icon.svg#icon-film"></use>
          </svg>
        </a>
        <a class="logo-library__title" href="./index.html"> Filmoteka </a>
      </div>

      <nav class="nav-library">
        <ul class="nav-library__list">
          <li class="nav-library__item">
            <a class="nav-library__link" href="./index.html">Home</a>
          </li>
          <li class="nav-library__item">
            <a
              class="nav-library__link nav-library__link--current"
              href="./library.html"
              >my library</a
            >
          </li>
        </ul>
      </nav>
    </div>

    <div class="library">
      <button
        class="library__button library__button--watched active"
        type="button"
      >
        Watched
      </button>
      <button class="library__button library__button--queue" type="button">
        queue
      </button>
    </div>
    <div class="theme-change theme-change-lib">
      <button class="page-theme"></button>
      <button class="page-reset"></button>
    </div>
  </div>
</header>
