<header class="header__library">
  <div class="container header__library__container">
    <div class="logo__library">
      <svg class="logo__library__icon" width="24" height="24">
        <use href="/src/images/icon.svg#icon-film"></use>
        <a class="logo__library__link" href="/src/index.html"></a>
      </svg>
      <a class="logo__library__title" href="/src/index.html"> Filmoteka </a>
    </div>

    <nav class="nav__library">
      <ul class="nav__library__list">
        <li class="nav__library__item">
          <a class="nav__library__link" href="./index.html">Home</a>
        </li>
        <li class="nav__library__item">
          <a class="nav__library__link nav__library__link--current" href="./library.html"
            >my library</a
          >
        </li>
      </ul>
    </nav>

    <div class="library">
      <button class="library__button active" type="button">Watched</button>
      <button class="library__button" type="button">queue</button>
    </div>
  </div>
</header>
