.pagination {
  display: flex;
  justify-content: center;
  gap: 5px;
  padding-bottom: 60px;
}
.pagination__list {
  display: flex;
  gap: 10px;
}
.is-hidden {
  opacity: 0;
}

.pagination__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  transition: 0.3s;
}
.pagination__item:hover {
  background-color: var(--main-accent-color);
  color: #fff;
}
.pagination__item-hidden {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: default;

  @include mq(mobile-only) {
    display: none;
  }
}
.pagination__currentPage {
  background-color: var(--main-accent-color);
  color: white;
}

.pagination__btn {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: transparent;
  transition: 0.3s;
}

.pagination__btn:hover {
  background-color: var(--main-accent-color);
}

.pagination-edge {
  @include mq(mobile-only) {
    display: none;
  }
}

.pagination__btn-prev {
  background-image: url('/src/images/pagination/arrow-left.svg');
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
  &:hover {
    filter: invert(1);
  }
}

.pagination__btn-next {
  background-image: url('/src/images/pagination/arrow-right.svg');
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
}

.pagination__btn-Ldisabled {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-image: url('/src/images/pagination/arrow-left-grey.svg');
  cursor: default;
}
.pagination__btn-Rdisabled {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-image: url('/src/images/pagination/arrow-right-grey.svg');
  cursor: default;
}
