.footer {
  padding-top: 29px;
  padding-bottom: 30px;
  background-color: #f7f7f7;

  // @media (prefers-color-scheme: dark) {
  //   & {
  //     background-color: #222a31;
  //     color: #545454;
  //   }
  // }
}
.footer__cotainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mq(tablet) {
    flex-direction: row;
    justify-content: center;
  }
}
.title-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #545454;
}
.footer__first {
  text-align: center;
}
.title-first {
  margin-bottom: 10px;
  @include mq(tablet) {
    margin-bottom: 0;
  }
}

.footer__second {
  display: flex;
  flex-direction: row;

  gap: 10px;
  // margin-left: auto;
  // margin-right: auto;
  margin-left: 3px;
  @include mq(tablet) {
    margin-right: 0;
  }
}

.title-footer__link {
  text-decoration: underline;
}

.button-open {
  cursor: pointer;
  // @media (prefers-color-scheme: dark) {
  //   & {
  //     color: #545454;
  //   }
  // }
}
// =================

.modal-team__title {
  color: var(--main-accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  font-size: 30px;
}

.team__list {
  @include mq(tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
}

.team__item {
  position: relative;
  overflow: hidden;

  // width: 220px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @include mq(mobile-only) {
    width: 100%;
    margin-bottom: 30px;
  }

  &:last-child {
    @include mq(mobile-only) {
      margin-bottom: 0;
    }
  }

  @include mq(tablet) {
    min-width: 232px;
  }

  @include mq(desktop) {
    min-width: 232px;
  }
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  height: 101%;
  width: 100%;
  font-size: 16px;
  line-height: 1.56;

  background-color: var(--main-accent-color);

  padding: 10px 10px;

  .team__members:hover &,
  .team__members:focus & {
    transform: translateY(0);
  }
}

.team__members {
  padding: 10px;
}

.team__name {
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.1;
  text-align: center;

  margin-bottom: 10px;
}

.team__position {
  color: var(--main-accent-color);
  font-weight: 400;
  font-size: 15px;
  line-height: 1.1;
  text-align: center;

  margin-bottom: 6px;
}

.socials__item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    background-color: rgb(0, 0, 0);
  }
}

.socials__icon {
  fill: rgb(0, 0, 0);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .socials__link:hover &,
  .socials__link:focus & {
    fill: var(--main-accent-color);
  }
}

// =================
.backdrop-team {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.197);
  display: flex;
  align-items: center;
  justify-content: center;
}

.backdrop-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-team__window {
  max-width: 950px;
  position: relative;
  z-index: 2;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
  background-color: #fff;
  padding: 20px;

  @include mq(mobile-only) {
    background-color: rgb(28, 28, 28);
  }

  @include mq(tablet) {
    max-width: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.9),
        rgba(0, 0, 0, 0.2)
      ),
      url(/src/images/main/tablet-header-bg-1x.jpg);
  }

  @include mq(desktop) {
    max-width: 950px;
  }
}

.team-modal-btn {
  fill: var(--main-accent-color);
}

html.dark .team-modal-btn {
  fill: #000;
}
