.header {
  padding-top: 40px;
  padding-bottom: 92px;
  height: 230px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(/src/images/main/mobile-header-bg-1x.jpg);
  opacity: 0.9;

  @include mq(retina) {
    background-image: url(/src/images/main/mobile-header-bg-2x.jpg);
    opacity: 0.9;
  }

  // tablet ///////
  @include mq(tablet) {
    padding-top: 49px;
    padding-bottom: 81px;
    height: 216px;

    background-image: url(/src/images/main/tablet-header-bg-1x.jpg);
    opacity: 0.9;

    @include mq(retina) {
      background-image: url(/src/images/main/tablet-header-bg-2x.jpg);
      opacity: 0.9;
    }
  }
}

.header__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 280px;

  @include mq(tablet) {
    min-width: 704px;
    align-items: baseline;
  }
}

.logo__icon {
  display: inline-block;
  fill: currentColor;
  align-items: baseline;
}

// ///////////Filmoteka///////////////////
.logo__title {
  @include mq(mobile-only) {
    display: none;
  }

  @include mq(tablet) {
    display: inline-block;
    margin-left: 8px;
    color: #ffffff;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.7;

    margin-right: 387px;
  }
}

// ///////////nav///////////////////
.nav__list {
  display: flex;
}

.nav__item:not(:first-child) {
  margin-left: 40px;
}

.nav__item:last-child {
  margin-right: 0px;
}

.nav__link {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.7;
  list-style: none;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 3px;
  padding-bottom: 3px;
  // padding: 5px 5px;
}

/* Лінія активної сторінки */

.nav__link--current {
  position: relative;
  display: block;

  &::after {
    position: absolute;
    border-radius: 2px;
    display: block;
    content: '';
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 3px;
    background-color: #ff001b;
  }
}

// /////////////////////input//////////////////////////////////////
.form {
  max-width: 280px;
  margin-top: 60px;
  border-bottom: 0.5px solid #ffffff;
  padding: 4px 10px;

  @include mq(tablet) {
    max-width: 336px;
    margin-top: 40px;
  }
}

.form__field {
  // position: relative;
  // display: flex;
  // flex-direction: column;
  // text-align: center;


  min-width: 280px;
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;

  @include mq(tablet) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: center;
   
  }
}

.form__input {
  width: 100%;
  min-height: 20px;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.14;
  outline: transparent;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
  text-align: left;

}

.form__input::placeholder {
  color: #ffffff;
}

.form-button {
  border: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  background-color: transparent;
  // display: none;
}

.form__icon {
  position: absolute;
  fill: currentColor;
  text-align: center;
  left: 15%;
  top: 15%;
}

.form-text {
  font-size: 14px;
  line-height: 1.14;
  color: #ff001b;
  margin-top: 16px;
  width: 280px;
}
