.header {
  padding-top: 40px;
  padding-bottom: 92px;
  height: 230px;
  background-repeat: no-repeat;
  background-size: cover;

  background-image: linear-gradient(
      to bottom,
      rgba(46, 46, 46, 0),
      rgba(255, 255, 255, 0.5)
    ),
    url(/src/images/main/light/mobile-header-bg-1x-light.jpg);

  @include mq(retina) {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 46, 46, 0),
        rgba(255, 255, 255, 0.5)
      ),
      url(/src/images/main/light/mobile-header-bg-2x-light.jpg);
    opacity: 1;
  }

  // tablet ///////
  @include mq(tablet) {
    padding-top: 40px;
    padding-bottom: 81px;
    height: 216px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 46, 46, 0),
        rgba(255, 255, 255, 0.5)
      ),
      url(/src/images/main/light/tablet-header-bg-1x-light.jpg);
    opacity: 1;

    @include mq(retina) {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 46, 46, 0),
          rgba(255, 255, 255, 0.5)
        ),
        url(/src/images/main/light/tablet-header-bg-2x-light.jpg);
      opacity: 1;
    }
  }

  // desktop ///////
  @include mq(desktop) {
    background-color: black;

    background-image: linear-gradient(
        to bottom,
        rgba(46, 46, 46, 0),
        rgba(255, 255, 255, 0.5)
      ),
      url(/src/images/main/light/desktop-header-bg-1x-light.jpg);

    @include mq(retina) {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 46, 46, 0),
          rgba(255, 255, 255, 0.5)
        ),
        url(/src/images/main/light/desktop-header-bg-2x-light.jpg);
      opacity: 1;
    }
  }
}

.header__container {
  // display: flex;
  // align-items: center;
  // flex-wrap: wrap;
  // justify-content: space-between;
  min-width: 280px;

  @include mq(tablet) {
    min-width: 704px;
    align-items: baseline;
    justify-content: space-around;
    text-align: center;
  }
}

.header__container-inner {
  display: flex;
  align-items: center;

  @include mq(tablet) {
    align-items: baseline;
  }
}

.logo__icon {
  display: inline-block;
  align-items: baseline;
  fill: currentColor;
}

.header--animals {
  animation: logo 1s ease 0.5s backwards;
}

@keyframes logo {
  0% {
    opacity: 0;
    letter-spacing: -0.6em;
  }

  100% {
    opacity: 1;
    letter-spacing: 0.03em;
  }
}

// ///////////Filmoteka///////////////////
.logo__title {
  @include mq(mobile-only) {
    display: none;
  }

  @include mq(tablet) {
    text-decoration: none;
    display: inline-block;
    margin-left: 8px;
    color: #ffffff;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.7;
    height: 35px;
    // margin-right: 387px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: #ff6b01;
    }
  }

  @include mq(desktop) {
    margin-left: 10px;
  }
}

// ///////////nav///////////////////
.nav {
  margin-left: auto;

  @include mq(desktop) {
  }
}
.nav__list {
  display: flex;

  @include mq(tablet) {
    justify-content: flex-end;
    align-items: center;
  }
}

.nav__item:not(:first-child) {
  margin-left: 40px;
}

.nav__item:last-child {
  margin-right: 0px;
}

.nav__link {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
  list-style: none;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 3px;
  padding-bottom: 3px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: #ff6b01;
  }
}

/* Лінія активної сторінки */

.nav__link--current {
  position: relative;
  display: block;

  &::after {
    position: absolute;
    border-radius: 2px;
    display: block;
    content: '';
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 3px;
    background-color: #ff001b;
  }
}

// /////////////////////input//////////////////////////////////////
.form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 280px;
  margin-top: 50px;
  // border-bottom: 0.5px solid #ffffff;

  @include mq(tablet) {
    max-width: 704px;
    margin-top: 30px;
    padding: 4px 10px;
  }
}

.form__field {
  @include mq(mobile-only) {
    min-width: 240px;
  }

  @include mq(mobile) {
    min-width: 280px;
  }
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  min-width: 280px;
  background-color: rgba(0, 0, 0, 0);
  align-items: center;
}

.form__input {
  width: 100%;
  min-height: 20px;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.14;
  outline: transparent;
  border: none;
  color: #ffffff;
  border-bottom: 0.5px solid #ffffff;
  background-color: rgba(0, 0, 0, 0);
  text-align: left;
  padding: 5px 3px;

  @include mq(tablet) {
    width: 336px;
    display: block;
  }

  @include mq(desktop) {
    width: 394px;
    display: block;
    align-items: center;
  }
}

.form__input:focus,
.form__input:hover,
.form__input:active {
  background-color: rgba(0, 0, 0, 0);
  outline: transparent;
}

.form__input::placeholder {
  color: #ffffff5c;
}

.form-button {
  border: none;
  position: absolute;
  // top: -5px;
  // right: -12px;
  right: 10px;
  top: -5px;

  padding: 10px;
  background-color: transparent;

  @include mq(mobile) {
    right: -10;
  }

  @include mq(tablet) {
    right: 173px;
    top: 0;
  }

  @include mq(desktop) {
    right: 143px;
  }
}

.form__icon {
  fill: currentColor;
  text-align: center;

  transition: 0.3s;
}

.form__icon:hover {
  transform: scale(1.35);
  fill: red;
}

.form-text {
  @include mq(mobile-only) {
    position: absolute;
    top: 25px;
    left: 20px;
    font-size: 14px;
    line-height: 1.14;
    color: #ff001b;
    margin-top: 16px;
    width: 200px;
  }

  @include mq(mobile) {
    position: absolute;
    top: 25px;
    left: 0px;
    font-size: 14px;
    line-height: 1.14;
    color: #ff001b;
    margin-top: 16px;
    width: 280px;
  }

  @include mq(tablet) {
    left: 172px;
    width: 393px;
    margin-top: 20px;
    text-align: center;
  }

  @include mq(desktop) {
    top: 25px;
    left: 144px;
  }
}
/////////////////////////////////////////////
.iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
}
